[submodule "site-lisp/Emacs-MATLAB-Mode"]
	path = site-lisp/Emacs-MATLAB-Mode
	url = git@my.github.com:mathworks/Emacs-MATLAB-Mode.git
[submodule "site-lisp/yasnippet"]
	path = site-lisp/yasnippet
	url = https://github.com/joaotavora/yasnippet.git
[submodule "site-lisp/yasnippet-snippets"]
	path = site-lisp/yasnippet-snippets
	url = https://github.com/AndreaCrotti/yasnippet-snippets.git
[submodule "vscode-cp-proxy"]
	path = site-lisp/vscode-cp-proxy
	url = https://github.com/utsahi/vscode-cp-proxy.git
[submodule "site-lisp/sysinfo"]
	path = site-lisp/sysinfo
	url = git@my.github.com:p-kolacz/sysinfo.git
