# -------------------------------------------------------
# Basic minimal-emacs files.  Never check these in.  They
# only flow one way -- into the forked repo
# -------------------------------------------------------
!README.md
!early-init.el
!init.el
!.images/
!.github/
!.LICENSE
# -------------------------------------------------------
# Emacs Specific
# -------------------------------------------------------
*.elc
.cask
*!
\#*
*.~undo-tree
# -------------------------------------------------------
# Repository Specific
# -------------------------------------------------------
autosave/
elpaca/
custom.el
history
bookmarks
projects
recentf
saveplace
srecode-map.el
site-lisp/local-settings.el
site-lisp/local-vhdl-proj.el
# Generally want to ignore all of var, but custom snippets and
# tree-sitter grammars are regenerated via my-treesit-update-grammars.
var/*
!var/snippets/


